@page "/Modal"

<h1>Modal Test</h1>

<p>If you see this pop up then test passed</p>



<!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
  Open modal
</button>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="text-center">
<form style="max-width:500px;margin:auto"> 
    <h1> Sign in</h1>
    <label for="email" class="sr-only">Email</label>
    <input type="email" id="email" class="form-control" placeholder="Email Address" required autofocus/>
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" placeholder="password" class="form-control" />
    <button class="mt-3 btn btn-lg btn-danger btn-block"> Sign In</button>
</form>
</div>
      </div>

      <!-- Modal footer
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
       -->
    </div>
  </div>
</div>

@code{
    //[CascadingParameter] public IModalService Modal {get; set;}
    //void ShowModal() Modal.Show<Confirm>("Modal");
}

