@page "/Radzentest"
<h3>RadzenTest</h3>


<div class="col-md-4 p-3">
        <RadzenCard>
            <h4 class="mb-4">ProgressBar in indeterminate mode</h4>
            <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
        </RadzenCard>
    </div>

@code {

}
