@page "/slider"

<AbsolutePanel AutoResize="true"
                Top="56"
                Left="250">
    <VerticalSliderPanel LeftPanelStartingWidth="400">
        <LeftChildContent>
            <div style="padding:10px;">
                <h3>Left Content</h3>
                <p>This is some text to show it is working</p>
            </div>
        </LeftChildContent>
        <RightChildContent>
             <div style="padding:10px;">
                <h3>Right Content</h3>
                <p>This is some text to show it is working</p>
            </div>
        </RightChildContent>
    </VerticalSliderPanel>
</AbsolutePanel>
